/* Thème Dracula */
:root {
  --bg: #282a36;
  --bg-alt: #44475a;
  --fg: #f8f8f2;
  --fg-dim: #6272a4;
  --accent: #bd93f9;
  --accent-2: #ff79c6;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --border: #44475a;
}
